body{
  margin: 0px;
  padding: 0;
  background-color: #eeeeee;
}
body::-webkit-scrollbar{
  width: 5px;
}

.header1{
  left: 0;
  top: 0;
  position: fixed;
  background:#5C7795;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: 1s ease-in-out;
  z-index: 1000;
}
.header1.sticky{
  display: none;
}
.header2.stickyup{
  top:0;
  left: 0;
  height: 80px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
  transition: 1s ease-in-out;
  background:rgba(0,0,0,0.5);
  color: #ffffff;
  z-index: 1000;
}
.header2.stickyup a,
.header2.stickyup h2
{
  color: #ffffff
}

.header2{
  background: #ffffff;
  width: 100%;
  left: 0;
  top: 50px;
  position: fixed;
  height: 100px;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  transition: 1s ease-in-out;
  text-align: center;
  align-items: center;

}
.nav-item{
  display: flex;
  flex-direction: row;
}
.nav-item ul{
  display: flex;
  flex-direction: row;
  list-style: none;
}
.nav-item ul li{
  padding: 10px;
}
.nav-item ul li a{
  text-decoration: none;
  color: #5C7795;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 2px;
}
.left-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}
.search-input{
  display: flex;
  flex-direction: row;
  margin-right: 40px;
}
.search-input input[type="text"]{
  border: 0;
  background: none;
  display: black;
  margin:20px auto;
  text-align: center;
  border: 1px solid #5C7795;
  padding: 14px 40px;
  outline: none;
  color: black;
  border-radius: 60px;
  transition: 0.25s;
}
.search-input input[type="text"]:focus{
  border-color:#5C7795;
}
.search-input button{
  margin:20px auto;
  padding: 10px 10px;
  margin-left: -45px;
  border-radius: 60px;
  background-color: #5C7795;
  border: none;
  cursor: pointer;
}
.search-input.sticky-search input[type="text"]{
  color: #f4f4f4;
  border-color: #f4f4f4;;
}
.sign-in-btn1{
  border: 1px solid #5C7795;
  border-radius: 30px;
  border-radius: 60px;
  align-items: center;
  text-align: center;
  padding: 5px 40px;
  margin: 5px;
  margin-left: auto;
  cursor: pointer;
}
.sign-in-btn.sticky{
  display: flex;
}
.cart-btn{
  padding: 10px 10px;
  border-radius: 60px;
  border-color: #5C7795;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 40px;
  cursor: pointer;
}
.cart-btn:hover{
  background:linear-gradient(to right,rgb(236, 213, 77),rgb(80, 140, 230))
}
.sign-in-btn{
  border: 1px solid #5C7795;
  border-radius: 30px;
  border-radius: 60px;
  align-items: center;
  text-align: center;
  padding: 15px 40px;
  margin-right: auto;
  display: none;
  transition: 0.5s;
}
.flag{
  display: flex;
  flex-direction:row;
  margin: 5px;
  cursor: pointer;
}
.logo{
  color: #5C7795;
}
.home-image{
  margin-top: 12%;
  display: flex;
  justify-content: space-between;
}
.products{
  display: flex;
  flex-direction: column;
}
.products-item-section{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 100px;
  margin: 100px;
}
.product-item{
  width: 300px;
  height: 450px;
  background-color: #ffffff;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.06);
  border-radius: 10px;
}
.section-title{
  border: 3px solid #5C7795;
}
.product-type{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.type{
  margin: 10px;
  cursor: pointer;
}
.type:hover{
  border-bottom: 3px solid #5C7795;
}
.product-item img{
  width: 60%;
  height: 30%;
  padding-left: 20%;
}
.section-name{
  background: #ffffff;
  margin-top: 140px;
  margin-left: 100px;
  margin-right: 100px;
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #5C7795;
}


/* product with catagory */
.letest-product{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.catagories{
  color:#5C7795;
  margin-left: 20%;
  margin-right: 20%;
}
.catagories-list-product{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}
.catagories-list{
  width: 300px;
  height: 400px;
  margin: 40px;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.06);
}
.c0{}
.c1{
  margin-top: 150px;
}
.c2{
  margin-top: 260px;
}
.c3{
  margin-top: 260px
}
.c4{
  margin-top: 150px;
}
.c5{}
.catagories-img{
  width: 100%;
  height: 95%;
}
.catagories-img img{
  width: 60%;
  height: 80%;
  margin-left: 20%;
}
.footer-section{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.footer-section-item{
  margin: 50px;
}
.footer{
  width: 100%;
  height: 400px;
  background-color: #5C7795;
  color: #eeeeee;
}
.copy-right p{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.rate{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.product-discription{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.description{
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 200px;
}
.description img{
  width: 200px;
  height: 120%;
}
.news-subscribe{
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 100px;
}
.description1{
  width: 80%;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #e6f542;
  margin: 140px;
}
.description1 img{
  width: 50%;
  height: 160%;
  margin-top: -15%;
}

/* tool tip */

.tooltip {
  position: relative;
  display: block;
}
.tooltip div {
  visibility: hidden;
  width: 180px;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 70%;
  margin-left: -30px;
}
.tooltip div::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -70px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent rgba(0,0,0,0.5) transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.tooltiptext ul{
  list-style: none;
  display: flex;
  flex-direction: column;
}
.tooltiptext ul li a{
  color: #ffffff;
  border:2px solid #eeeeee;
  width: 100%;
  height: 100%;
}


/* selected items css  cart*/
.cartItem {
  width: 100%;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
  gap: 8px;
  background: #fff;
  border-radius: 100px;
  place-items: center;
  margin-bottom: 8px;
  margin-top: 10px;
}
.cartItem a{
  /* padding-right: 20px;
  padding-left: 20px;
  border-right: 1px solid #5C7795;
  border-left: 1px solid #5C7795; */
}

.cartItem__name {
  text-decoration: none;
  color: #171717;
}

.cartItem__name:hover {
  color: #dd219e;
} 

td select{
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartItem__deleteBtn {
  padding: 10px 17px;
  /* color: red;
  background: #f4f4f4;
  border: 1px solid #171717; */
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.cartItem__image{
  /* padding-right: 20px;
  border-right: 1px solid #5C7795; */
}
.cartItem__deleteBtn:hover,
.carItem__deleteBtn:active,
.carItem__deleteBtn:focus{
  /* background: #171717;
  transform: scale(1.2); */
}

  @media (max-width: 700px) {
  .cartItem__name {
    font-size: 0.8rem;
  }

  .cartItem__select,
  .cartItem__deleteBtn {
    padding: 8px 13px;
  }

  .cartitem__price {
    font-size: 0.8rem;
  }
}

@media (max-width: 700px) {
  .cartItem__name {
    font-size: 0.6rem;
  }

  .cartItem__select,
  .cartItem__deleteBtn {
    padding: 5px 8px;
  }

  .cartitem__price {
    font-size: 0.6rem;
  }
}

/* cart screen
 */

.cartscreen {
  display: flex;
  max-width: 1300px;
  margin-top: 150px;
}

.cartscreen h2 {
  margin-bottom: 1rem;
}

.cartscreen__left {
  flex: 0.7;
  margin-right: 1rem;
  background: transparent;
  padding: 1rem;
}

.cartscreen__right {
  flex: 0.3;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  height: fit-content;
  margin-top: 100px;
  margin-left: 40px;
  border-radius: 30px;
}


.cartscreen__right div {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

.cartscreen__info p {
  padding: 8px;
}

.cartscreen__info p:first-child {
  font-weight: bold;
}

.cartscreen__right div:last-child {
  border: none;
}

.cartscreen__right div button {
  padding: 10px 17px;
  width: 100%;
  background: #171717;
  color: #f4f4f4;
  border: 1px solid #171717;
  cursor: pointer;
}

.cartscreen__right div button:hover {
  opacity: 0.9;
}

@media (max-width: 1320px) {
  .cartscreen {
    max-width: 900px;
  }
}

@media (max-width: 960px) {
  .cartscreen {
    max-width: 800px;
  }
}

@media (max-width: 960px) {
  .cartscreen {
    flex-direction: column;
  }

  .cartscreen__right {
    margin: 1rem;
  }
}


/* login */

.login-page{
  width: 100%;
  height: 100vh;
  background: #eeeeee;
}
.login-area{

}

.log{
  display: flex;
  flex-direction: column;
  position: absolute;
  box-shadow: 1px 1px 5px  rgba(0,0,0,0.3);
  background: #ffffff;
  width: 400px;
  padding: 30px 20px;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  opacity: 0.7;
}
.log input[type="text"],.log input[type="password"]{
  border: 0;
  background: none;
  display: black;
  margin:20px auto;
  text-align: center;
  border: 2px solid #5C7795 ;
  padding: 14px 10px;
  outline: none;
  color: black;
  border-radius: 60px;
  transition: 0.25s;
  
}
.log h1{
  color: black;
  text-transform:uppercase;
  font-weight: 500;
}
.log input[type="text"]:focus,.log input[type="password"]:focus{
 width: 280px;
  border-color: #5C7795;
}

.log a{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid green;
    padding: 14px 40px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition:24px;
    transition :0.25s;
    cursor: pointer;
    text-decoration: none;
}
.log a:hover{
  background: #5C7795; 
}

/* moving cart image */

img.zoom{
  position: relative;
  top: -30%;
  left: 50%;
  width: 80px;
  height: 100px;
  opacity: 1;
  animation: zoom 1s forwards ease;
  transition: 2s;
}
@keyframes zoom{
  0%{opacity: 0;}
  25%{opacity: 0.7;}
  50%{opacity: 1; left:80%}
  75%{opacity: 0.7;}
  100%{opacity: 0; left: 90%;}
}
h3{
  display: none;
  justify-content: center;
  align-items: center;
  color: orange;
}
h3.message2{
  display: flex;
}


/* cart area */

table{
  border-collapse: collapse;
  overflow: auto;
  background: #ffffff;
  border-radius: 40px;
}
tbody tr,
thead tr{
  border-top: 1px solid #5C7795;
  border-bottom:1px solid #5C7795;
  overflow: auto;
}
thead td{
  font-weight: 700;
  overflow: auto  ;
}
td{
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  color: #222;
}
tr td:last-child{
  display: flex;
  justify-content: center;
}

.table-responsive{
  width: 100%;
  overflow-x: auto;
}
.card-body{
  background: #ffffff;
}
.product-price{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.total-calc-area{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.total-area{
  border: 1px solid #5C7795;
}
.clearbutton{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid green;
    padding: 14px 40px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition:24px;
    transition :0.25s;
    cursor: pointer;
    text-decoration: none;
}



/* buyer information */
.buyer-info{
  position: relative;
  box-shadow: 1px 1px 5px  rgba(0,0,0,0.3);
  background: #ffffff;
  width: 800px;
  height: auto;
  padding: 10px 10px;
  text-align: center;
  opacity: 0.7;
  margin-top: 200px;
  margin-left: 50px;
}
.buyer-info button{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid green;
  padding: 10px 40px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition:24px;
  transition :0.25s;
  cursor: pointer;
  text-decoration: none;
}
.buyer-info select,
.buyer-info input{
  border: 0;
  background: none;
  display: black;
  margin:20px;
  text-align: center;
  border: 2px solid #5C7795 ;
  padding: 14px 10px;
  outline: none;
  color: black;
  border-radius: 60px;
  transition: 0.25s;
}
.buyer-info h1{
  color: black;
    text-transform:uppercase;
    font-weight: 500;
}
.map{

  width: 400px;
  height: 500px;
  margin-top: 200px;
}
.buyer-info-area{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}